/* Global CSS*/

* {
    /* helped with size ratio */
    box-sizing: border-box;

    /* 
       css
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}



html {
    position: relative;
    min-height: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}